nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    image.d-inline(src="/images/shop.png")
    a.navbar-brand(href="/") FA18-BSE-010 Shop
    button.navbar-toggler(type="button", data-toggle="collaspe", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    div#navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link.d-inline(href="/cart")
            image.d-inline(src="/images/cart.png")
            span Cart
        if !user
          li.nav-item
            a.nav-link.d-inline(href="/register")
              image.d-inline(src="/images/register.png")
              span Cart
          li.nav-item
            a.nav-link.d-inline(href="/login")
              image.d-inline(src="/images/login.png")
              span Login
        else
          li.nav-item
              a.nav-link.d-inline(href="/logout")
                image.d-inline(src="/images/logout.png")
                span Logout