body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.spacer {
  margin-top: 20px;
  margin-bottom: 5px;
}

.checked {
  color: gold;
}

.nav-item {
  margin-left: 10px !important; 
  margin-right: 10px !important; 
}

.purple {
  background-color: #9B5BEF; border-color: #9B5BEF;
}

.lime {
  background-color: #bce253; border-color: #bce253;
}