extends ../layout

block content
    .row
        .col-sm-10
            h1=title
        .col-sm-2
            if user
                a.btn.btn-success.float-right.purple(href="/products/add")   
                    image(width="30px", height="30px", src="/images/add.png")  New Product
    table.table
        thead
            tr
                th Name
                th Price
                th rating
                th Description
                th Actions
                if user
                    th Update Rating
        tbody
            each product in products
                tr
                    td=product.name
                    td Rs. 
                        =product.price
                    td
                        if product.rating > 0
                            image(width="30px",height="30px", src="/images/star-filled.png")
                        else 
                            image(width="30px",height="30px", src="/images/star.png")
                        if product.rating > 1
                            image(width="30px",height="30px", src="/images/star-filled.png")
                        else 
                            image(width="30px",height="30px", src="/images/star.png")
                        if product.rating > 2
                            image(width="30px",height="30px", src="/images/star-filled.png")
                        else 
                            image(width="30px",height="30px", src="/images/star.png")
                        if product.rating > 3
                            image(width="30px",height="30px", src="/images/star-filled.png")
                        else 
                            image(width="30px",height="30px", src="/images/star.png")
                        if product.rating > 4
                            image(width="30px",height="30px", src="/images/star-filled.png")
                        else 
                            image(width="30px",height="30px", src="/images/star.png")
                            
                    td=product.discription
                    td
                        if user
                            a(href="/products/delete/"+product._id, class="btn btn-warning") 
                                image(width="40px", height="40px", src="/images/delete.png") 
                            a(href="/products/edit/"+product._id, class="btn btn-info")
                                 image(width="40px", height="40px", src="/images/edit.png") 
                        a(href="/products/cart/"+product._id, class="btn btn-success") 
                            image(width="40px", height="40px", src="/images/addToCart.png") 
                    if user
                        td 
                            form(action="/products/edit/"+product._id,method="post")
                                div(class="form-group row")
                                    .col-sm-6
                                        select#rate(class="form-control", name="rate" value=product.rating)
                                            if product.rating == 1
                                                option(selected) 1
                                            else 
                                                option 1
                                            if product.rating == 2
                                                option(selected) 2
                                            else 
                                                option 2
                                            if product.rating == 3
                                                option(selected) 3
                                            else 
                                                option 3
                                            if product.rating == 4
                                                option(selected) 4
                                            else 
                                                option 4
                                            if product.rating == 5
                                                option(selected) 5
                                            else 
                                                option 5
                                    .col-sm-6
                                        button.btn.btn-info.lime(type="submit", value="")
                                            image(width="40px", height="40px", src="/images/Save.png")
                                            